:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(45, 42, 42, 0.84);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}


body {
  color: #666;
  font: 16px/26px "Raleway", sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  width:100%;


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.links{
  background: hsl(345deg, 3%, 77%);
  padding:0;
  cursor: pointer;
  outline-offset: 4px;
  color: #0a0a0a;
  width: 300px;
  margin:auto;
  margin-top: 60px;
  overflow-x: hidden;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: rgba(118, 118, 122, 0.25) 0px 13px 27px -5px, rgba(120, 118, 118, 0.3) 0px 8px 16px -8px;
}

@keyframes fadeIn {
  from { opacity: 0.1; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.6s ease-in;
}
.block{
  background-color: #372828;
  margin:auto;
  width: 730px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding-top: 40px;
  z-index:4;
  margin-bottom:250px;
}
.otp{
  margin-top: 20px;
  color: #0ca8e6;
  font-size: 35px;
}
.front{
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #0ca8e6;
  color:#e2dfdf;
  transform: translateY(-6px);
}
.links:active .front{
  transform: translateY(-2px);
}

.input-box{
  margin-top: 27px;
}
.field{
  border: none;
  border-bottom: 1px solid #0ca8e6;
  width:200px;
  height:25px;
  background:transparent;
  outline: 0;
}
.valid{
  color:red
}
